<p> Welcome <%= @user.first_name %> ! Ici c'est notre super site de potins, il est chouette, non ? </p>
<form action '/static_pages/home' method="post">
    <input type="hidden" name="authenticity_token" value="<%=
    form_authenticity_token %>">
    <input type="text" name="first_name">
    <input type="submit" name="Evoyer">
</form>
<br><br>
<p>Voici la liste des gossips existants :</p>
<section>

  <div class="container">
    <div class="row">
      <div class="col"><h1>Auteur</h1></div>
      <div class="col"><h1>Gossip</h1></div>
      <div class="col"><h1>Link</h1></div>
      <% Gossip.all.each do |gossip| %>
      <div class="w-100"></div>
      <div class="col"><%=gossip.user.first_name %></div>
      <div class="col"><%=gossip.title %></div>
      <div class="col">  <%= link_to("Gossip link", "gossip/#{gossip.id}") %>
      </div>
      <%  end  %>
    </div>
  </div>

</section>
